<!-- Modal content-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3 class="modal-title">Aufgabe könnte nicht gespeichert werden</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-info">
                <p><strong>Info!</strong> Die Aufgabe wurde von einem anderen Benutzer entfernt.</p><br>
                <p><strong>Abspeicherung ist nicht möglich.</strong></p>
            </div>
        </div>

        <div class="modal-footer">
            <a type="button" class="btn btn-sm btn-danger pull-right btn-savetask" id="submittasknotfound"
               href=""><i class="glyphicon glyphicon-edit"></i> Schliessen</a>
        </div>
    </div>
</div>