
<td align="center">
    {{ form_row(form.current) }}
</td>
<td align="center">
    {{ form_row(form.shape) }}
</td>
<td align="center">
    <p>Anklicken und ziehen Maus vom Zentrum bis zum Rand des Objektes</p>
    {{ form_row(form.coords) }}
    {{ form_row(form.data) }}
</td>
<td align="center">
    <button class="btn btn-sm btn-danger btn-deletetask" style="display:none;" type="button"><i class="fa fa-trash-o"></i></button>
</td>