<!-- Modal content-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3 class="modal-title">Paket mit den Aufgaben entfernen</h3>
        </div>
        <div class="modal-body">
            <p>Das Paket wird entgültig entfernt.</p>
        </div>

        <div class="modal-footer">
            <a type="button" class="btn btn-sm btn-danger pull-right btn-savetask" id="submitDelete"
               href=""><i class="glyphicon glyphicon-trash"></i> Entfernen</a>

            <a type="button" class="btn btn-sm btn-default pull-right btn-savetask" data-dismiss="modal">
                <i class="glyphicon glyphicon-remove"></i> Abbrechen</a>
        </div>
    </div>
</div>